---
import TitleComponent from "../Common/TitleComponent.astro";

---

<div class="px-4 md:px-[20px] lg:px-[25px] 2xl:px-[40px] md:container md:mx-auto">
    <TitleComponent title="Why Choose Us" description="Having a home you love means having furnishing that you’re proud of. We are proud to bring you trendy furniture for every room in the house, with the added bonus."/>
</div>