---
import Navbar from '../components/Navbar/Navbar.astro';
import "../../styles/globals.scss"
interface Props {
	title: string;
	description?: string;
}

const { title, description="description" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #242424;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #556652;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(45deg, rgba(51, 62, 44, 1) 25%, transparent 25%, transparent 50%, rgba(51, 62, 44, 1) 50%, rgba(51, 62, 44, 1) 75%, transparent 75%, transparent)
}
@media (min-width: 1024px) {
  .ant-drawer {
    display: none !important;
  }
}
</style>
